*{
	margin:0px auto;
	padding: 0px;
}
div{
	width: 50%;
	margin: 25% auto;
	
}
input{
	width: 80%;
	height: 20%;
}
body{
	background-image: url(../images/bg1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
}


